<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p th:text="'Hello, ' + ${name} + '!'" />
    <form action="/image" method="GET" ">
        <div>
            <label for="name">What greeting do you want to say?</label>
            <input name="name" id="name" value="Hi">
        </div>
            <button>Send my greetings</button>
        </div>
    </form>
</body>
</html>
